/*------------------------------------*
 *  # Constants
 *------------------------------------*/

/*RTL Language Mixin*/

@mixin rtl {
    [dir='rtl'] & {
        @content;
    }
}

/* stylelint-disable color-no-hex */

/* COLOR PALETTE */

/* colors */
$color-black: #0c0b09;
$color-black-1: #333333;
$color-black-3: #151717;
$color-black-4: #1d1f20;
$color-black-5: #242828;
$color-black-6: #3e3e3e;
$color-black-7: #000000;
$color-black-8: #323738;
$color-black-9: #5c5c5c;
$color-black-10: #181c25;
$color-blue: #377cfc;
$color-blue-1: #4cbc38;
$color-blue-2: #2a3052;
$color-blue-3: #65e007;
$color-blue-4: #0eaf06;
$color-blue-5: #6c5f2c;
$color-blue-6: #92ffce;
$color-blue-7: #0a5525;
$color-blue-8: #765923;
$color-blue-9: #44b42b;
$color-brown: #664407;
$color-green: #8a8027;
$color-green-1: #c1772d;
$color-green-2: #9c781d;
$color-green-3: #745f1a;
$color-green-4: #815d16;
$color-green-5: #128d8329;
$color-green-6: #738d5a;
$color-green-7: #e8f3fd;
$color-green-8: #6ca615;
$color-grey: #1d248f;
$color-grey-1: #1d2596;
$color-grey-2: #191a25;
$color-grey-3: #202333;
$color-grey-4: #16308e;
$color-grey-5: #1d1d2c;
$color-grey-6: #242444;
$color-grey-7: #232844;
$color-grey-8: #26293f;
$color_grey-9: #2a3047;
$color-grey-10: #202229;
$color-grey-11: #38023a;
$color-grey-12: #6bb6a2;
$color-grey-13: #d6d0d0;
$color-grey-14: #e2e5e7;
$color-grey-15: #f3f4f5;
$color-orange: #ff6444;
$color-orange-2: #ff9c13;
$color-purple: #722fe4;
$color-red: #530707;
$color-red-1: #5f0e0e;
$color-red-2: #cc462e;
$color-red-3: #a32430;
$color-red-4: #d34636;
$color-red-5: #611d08;
$color-red-6: #ec3f3f29;
$color-red-7: #d91724;
$color-red-8: #661b20;
$color-red-9: #b34630;
$color-red-10: #ff6944;
$color-red-11: #6e130b;
$color-red-12: #c41d00;
$color-wite: #226407;
$color-violet: #6c240a;
$color-white: #faf7f7f5;

$color-yellow: #ff6b3a;
$color-yellow-1: #e05718;
$color-yellow-2: #981b05;
$color-yellow-3: rgba(255, 173, 58, 0.16);
$color-yellow-4: #6bb419;
$color-yellow-5: #966a0b;
$color-yellow-6: #c38917;

/* status colors */
$color-status-warning: rgba(255, 173, 58, 0.16);
$color-status-information: rgba(55, 124, 252, 0.16);
$color-status-announcement: rgba(75, 180, 179, 0.16);
$color-status-error: rgba(236, 63, 63, 0.16);
$color-status-verified: rgba(0, 122, 34);
$color-status-danger: rgba(196, 0, 0);

/* alpha colors */
$alpha-color-black-1: transparentize($color-black-7, 0.28);
$alpha-color-black-2: transparentize($color-black, 0.04);
$alpha-color-black-3: transparentize($color-black-7, 0.92);
$alpha-color-black-4: transparentize($color-black-7, 0.84);
$alpha-color-black-5: transparentize($color-black-7, 0.16);
$alpha-color-black-6: transparentize($color-black-7, 0.36);
$alpha-color-black-7: transparentize($color-black, 0.5);
$alpha-color-blue-1: transparentize($color-blue, 0.84);
$alpha-color-blue-2: transparentize($color-blue-3, 0.84);
$alpha-color-blue-3: transparentize($color-blue, 0.92);
$alpha-color-white-1: transparentize($color-white, 0.04);
$alpha-color-white-2: transparentize($color-white, 0.84);
$alpha-color-white-3: transparentize($color-white, 0.92);
$alpha-color-white-4: transparentize($color-white, 0.3);
$alpha-color-red-1: transparentize($color-red, 0.92);
$alpha-color-red-2: transparentize($color-red, 0.84);
$alpha-color-red-3: transparentize($color-red, 0.76);
$alpha-color-green-1: transparentize($color-green-1, 0.08);
$alpha-color-green-2: transparentize($color-green-3, 0.08);
$alpha-color-green-3: transparentize($color-green-3, 0.84);
$alpha-color-yellow-1: transparentize($color-yellow, 0.84);

/* gradient colors */
$gradient-color-green-1: linear-gradient(to top, $color-white, transparentize($color-green-1, 0.84));
$gradient-color-green-2: linear-gradient(to top, $color-black, transparentize($color-green-3, 0.84));
$gradient-color-red-1: linear-gradient(to top, $color-white, transparentize($color-red, 0.84));
$gradient-color-red-2: linear-gradient(to top, $color-black, transparentize($color-red, 0.84));
$contract-gradient-color-red-1: linear-gradient(to top, $color-white 85%, transparentize($color-red, 0.84));
$contract-gradient-color-red-2: linear-gradient(to top, $color-black 85%, transparentize($color-red, 0.84));
$gradient-color-white: linear-gradient(to right, transparentize($color-white, 1) -5%, $color-white 71%);
$gradient-color-black: linear-gradient(to right, transparentize($color-black, 1) -5%, $color-black 71%);

$gradient-color-purple: linear-gradient(274.73deg, #5a205d 3.82%, #7f3883 88.49%);
$gradient-color-blue: linear-gradient(274.73deg, #1a205e 3.82%, #122d96 88.49%);
$gradient-color-orange: linear-gradient(90deg, #eb001b 0%, #f79e1b 100%);
$gradient-color-black-2: linear-gradient(274.73deg, #464750 3.82%, #0e0f11 88.49%);
$gradient-color-orange-2: linear-gradient(90deg, #f89e32 0%, #f7931b 103.12%);
$gradient-color-blue-2: linear-gradient(90deg, #3d83cf 0%, #2775ca 100%);
$gradient-color-green-3: linear-gradient(90deg, #98cc53 0%, #8dc640 100%);
$gradient-color-blue-3: linear-gradient(90deg, #1a77ac 0%, #0068a3 100%);
$gradient-color-orange-3: linear-gradient(90deg, #ff7635 0%, #ff671f 100%);
$gradient-color-orange-4: linear-gradient(90deg, #f36938 0%, #f25822 100%);
$gradient-color-blue-4: linear-gradient(90deg, #1a8fff 0%, #0083ff 100%);
$gradient-color-red-3: linear-gradient(90deg, #ff444f 0%, #211d1e 95.22%);
$gradient-color-red-4: linear-gradient(90deg, #ff6444 0%, #ff444f 100%);
$gradient-color-black-3: linear-gradient(58.51deg, #061828 28.06%, #1a3c60 93.51%);
$gradient-color-black-4: linear-gradient(274.25deg, #333333 9.01%, #5c5b5b 103.31%);
$gradient-color-black-5: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.16) 100%);
$gradient-color-white-2: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.16) 100%);
$gradient-color-blue-5: linear-gradient(90deg, #00a8af 0%, #04cfd8 104.41%);
$gradient-color-gold: linear-gradient(90deg, #f7931a 0%, #ffc71b 104.41%);
$gradient-color-green-4: linear-gradient(90deg, #1db193 0%, #09da7a 104.41%);

/* Preserve legacy variables */
/* Primary */

$COLOR_BLACK: #000000;
$COLOR_BLACK_2: #1d1f20;
$COLOR_BLACK_3: #0e0e0e;
$COLOR_GREEN_1: #3f8d46;
$COLOR_GREEN_2: #2d9f93;
$COLOR_GREEN_3: #1da918;
$COLOR_GREEN_4: #0e4f24;
$COLOR_GREEN_5: #117422;
$COLOR_ORANGE: #ff9933;
$COLOR_DARK_ORANGE: #ff8802;
$COLOR_PURPLE: #4f60ae;
$COLOR_RED: #401ce3;
$COLOR_RED_2: #482ecc;
$COLOR_RED_3: #3fec59;
$COLOR_CORAL_RED: #ff444f;
$COLOR_SKY_BLUE: #2196f3;
$COLOR_WHITE: #ffffff;
$COLOR_BLUE: #1c5ae3;

// Light theme
$COLOR_LIGHT_BLACK_1: rgba(0, 0, 0, 0.8);
$COLOR_LIGHT_BLACK_2: rgba(0, 0, 0, 0.4);
$COLOR_LIGHT_BLACK_3: rgba(0, 0, 0, 0.16);
$COLOR_LIGHT_BLACK_3_SOLID_1: #c3b5b5;
$COLOR_LIGHT_BLACK_3_SOLID_2: #4e3b3b;
$COLOR_LIGHT_BLACK_4: rgba(0, 0, 0, 0.04);
$COLOR_LIGHT_BLACK_4_SOLID: #2a2aef;
$COLOR_LIGHT_GRAY_1: #8a96de;
$COLOR_LIGHT_GRAY_2: rgba(153, 156, 172, 0.32);
$COLOR_LIGHT_GRAY_3: #3b454a;
$COLOR_LIGHT_GRAY_4: #6e6e6e;
$COLOR_LIGHT_GRAY_5: #486b76;
$COLOR_LIGHT_GRAY_6: #28333f;
$COLOR_LIGHT_GREEN_GRADIENT: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 148, 117, 0.16));
$COLOR_LIGHT_RED_GRADIENT: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(227, 28, 75, 0.16));
$COLOR_LIGHT_WHITE_GRADIENT: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
// Dark theme
$COLOR_DARK_BLACK_GRADIENT: linear-gradient(to right, rgba(16, 19, 32, 1), rgba(16, 19, 32, 0));
$COLOR_DARK_BLUE_1: #0b0e18;
$COLOR_DARK_BLUE_2: #101320;
$COLOR_DARK_BLUE_3: #191c31;
$COLOR_DARK_BLUE_4: #202641;
$COLOR_DARK_BLUE_5: #2a3052;
$COLOR_DARK_BLUE_6: #555975;
$COLOR_DARK_BLUE_7: #393c4e;
$COLOR_DARK_BLUE_8: rgba(127, 131, 151, 0.3);
$COLOR_DARK_GREEN_GRADIENT: linear-gradient(to top, rgba(16, 19, 32, 0), rgba(0, 148, 117, 0.16));
$COLOR_DARK_RED_GRADIENT: linear-gradient(to top, rgba(16, 19, 32, 0), rgba(227, 28, 75, 0.16));
$COLOR_DARK_GRAY_1: #282a37;
$COLOR_DARK_GRAY_2: #303342;
$COLOR_DARK_GRAY_3: #555975;
$COLOR_DARK_GRAY_4: #333030;
/* stylelint-enable color-no-hex */

$BORDER_RADIUS: 4px;
$BORDER_RADIUS_2: 8px;

$MAX_CONTAINER_WIDTH: 1440px;

$POSITIONS_DRAWER_WIDTH: 240px;
$POSITIONS_DRAWER_MARGIN: 8px;

$HEADER_HEIGHT: 48px;
$FOOTER_HEIGHT: 36px;

$MOBILE_HEADER_HEIGHT: 40px;
$MOBILE_HEADER_DTRADER_V2_HEIGHT: 40px;
$MOBILE_HEADER_DTRADER_V2_WITH_BANNER_HEIGHT: 128px;
$MOBILE_HEADER_HEIGHT_DASHBOARD: 48px;
$MOBILE_WRAPPER_HEADER_HEIGHT: 40px;
$MOBILE_WRAPPER_FOOTER_HEIGHT: 70px;

$SIDEBAR_WIDTH: 240px;

/* Wallet gradient background */
$gradient-airtm: linear-gradient(90deg, #1a8fff 0%, #0083ff 100%);
$gradient-banxa: linear-gradient(90deg, #000000 0%, #4ac0ba 96.35%);
$gradient-bitcoin: linear-gradient(90deg, #f89e32 0%, #f7931b 103.12%);
$gradient-credit: linear-gradient(274.73deg, #464750 3.82%, #0e0f11 88.49%);
$gradient-dp2p: linear-gradient(90deg, #ff444f 0%, #211d1e 95.22%);
$gradient-fasapay: linear-gradient(90deg, #f6931c 0%, #4873ac 95.22%);
$gradient-jeton: linear-gradient(90deg, #ff7635 0%, #ff671f 100%);
$gradient-mastercard: linear-gradient(90deg, #eb001b 0%, #f79e1b 100%);
$gradient-neteller: linear-gradient(90deg, #98cc53 0%, #8dc640 100%);
$gradient-paylivre: linear-gradient(90deg, #352caa 0%, #9a6bfc 100%);
$gradient-paysafe: linear-gradient(90deg, #e3001b 0%, #008ac9 100%);
$gradient-perfectmoney: linear-gradient(90deg, #f12c2c 0%, #ef1515 100%);
$gradient-skrill: linear-gradient(274.73deg, #5a205d 3.82%, #7f3883 88.49%);
$gradient-sticpay: linear-gradient(90deg, #f36938 0%, #f25822 100%);
$gradient-virtual: linear-gradient(90deg, #ff6444 0%, #ff444f 100%);
$gradient-visa: linear-gradient(274.73deg, #1a205e 3.82%, #122d96 88.49%);
$gradient-webmoney: linear-gradient(90deg, #1a77ac 0%, #0068a3 100%);

/* App Cards gradient background */
$gradient-virtual: linear-gradient(274.25deg, #333333 9.01%, #5c5b5b 103.31%);
$gradient-virtual-swap-free: linear-gradient(58.51deg, #061828 28.06%, #1a3c60 93.51%);

/* Wallets */
$ready-banner-bg-color: #e2f3f3;
$ready-banner-tick-bg-color: #4ab4b3;
$wallet-demo-bg-color: #fff8f9;
$wallet-dark-demo-bg-color: #140506;
$wallet-demo-divider-color: #fff0f1;
$wallet-box-shadow: 0px 12px 16px -4px rgba(14, 14, 14, 0.08), 0px 4px 6px -2px rgba(14, 14, 14, 0.03);
$btn-shadow: 0px 24px 24px 0px rgba(0, 0, 0, 0.08), 0px 0px 24px 0px rgba(0, 0, 0, 0.08);